.advantages {
  padding: 110px 0;
  background-color: $bg;

  &__title {
    margin-bottom: 70px;
    line-height: 60px;
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;

    &:hover {
      .advantages__item-img {
        background-color: $green;
      }

      .advantages__item-title {
        color: $green;
      }

      .advantages__item-img svg {
        fill: #fff;
      }
    }

    &-img {
      margin: 0 auto;
      width: 114px;
      height: 114px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      transition: all 0.2s ease;

      svg {
        transition: all 0.2s ease;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 20px;
      transition: all 0.2s ease;
    }

    &-text {
      line-height: 24px;
      color: #b0bec5;
    }
  }
}

.ico-svg-1 {
  svg {
    width: 68px;
  }
}
.ico-svg-2 {
  svg {
    width: 72px;
  }
}
.ico-svg-3 {
  svg {
    width: 86px;
  }
}
